#landing-heading {
    font-size: 92px;
}

#landing-motto {
    font-size: 20px;
}


.line-seperator {
    height: 1px;
    flex-grow: 1;
    background-color: rgb(165, 165, 165);
}


#google-text {
    color: rgb(160, 154, 154);
    position: relative;
    padding: 0 10px;
    font-size: 14px;
}

