@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap%27");

.form {
	font-family: "Raleway", sans-serif;
	width: 40vw;
	margin: 0 auto;
	padding: 1em;
	max-width: 600px;
	width: 100%;
}

#user-avatar-img {
	height: 100px;
	width: 100px;
	margin: 40px 48px 20px;
}

.register-btn {
	width: 40%;
	margin: 1em auto !important;
}
.register-field {
	width: 100% !important;
}
.reg-heading {
	/* color: #2c7a7b; */
	font-size: 50px;
}
