.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    overflow-x: auto;
    padding: 1em;
    padding-left: 52px;
    padding-top: 30px;
}
.main {
    background-color: var(--background-primary);
}

.dashboard-heading {
    font-size: 28px;
    color: white;
    margin-bottom: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.sidebar-option {
    width: 100%;
    padding: 1em 2em;
    border-bottom: 1px solid lightgray;
}
.hero-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.user-detail-item {
    padding: 1em;
    border-radius: 10px;
    /* width: 333px; */
    width: 350px;
    margin-bottom: 25px;
    background-color: var(--hover1);
    position: relative;
}
.user-detail-item + .user-detail-item {
    margin-top: 25px;
}
.user-detail-title {
    margin: 0px 0;
    margin-bottom: 12px;
    color: rgb(160, 157, 157);
    font-size: 18px;
}
.user-detail-content {
    color: var(--accent-primary);
    margin: 0px 0;
    word-break: break-all;
    font-weight: 600;
}
.icon-container
{
    display: flex;
    align-items: center;
    gap:16px;
    top: 1em;
    right: 1em;
    position: absolute;
}
.edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color:grey;

}
.edit-icon:hover
{
    color: white;
}
.sign-key {
    width: 100%;
    /* height: max-content; */
    border: none;
    background-color: inherit;
    word-break: break-all;
    /* font-size: 20px; */
    letter-spacing: 1px;
}
.sign-key:disabled {
    opacity: 1;
}
.recent-transactions-container {
    color: white;
    height: 500px;
    padding: 10px;
    padding-top: 0;
    background-color: var(--background-secondary);
    border-left: 1px solid white;
}
.transactions-list {
    color: grey;
}

