.transactions-list {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    padding: 0 20px;
}
.transactions-item {
    padding: 1em;
    border-radius: 10px;
    /* width: 333px; */
    width: 350px;
    /* margin-bottom: 25px; */
    background-color: var(--hover1);
    position: relative;
    /* color: white; */
}
.transactions-item + .transactions-item {
    /* margin-top: 25px; */
}
.user-detail-title {
    margin: 0px 0;
    margin-bottom: 12px;
    color: rgb(160, 157, 157);
    font-size: 18px;
}
.transactions-item-content {
    /* color: var(--accent-primary); */
    color:rgb(210,210,210);
    margin: 0px 0;
    font-weight: 600;
}
.transaction-type {
    color: white;
    background-color: rgb(73, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: max-content;
    padding: 5px 16px;
    background-color:  var(--accent-primary);
    color:white;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 14px;
}
.Failed
{
    color:white;
    background-color:rgb(221, 38, 38);
    padding: 3px 9px;
    border-radius: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 10px;
}
.transactions-detail-item
{
    margin-bottom: 8px;
}
.no-transactions
{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50vh;
}