#banner-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e7fcf7;
}

.details-container {
	display: flex;
	width: 68%;
	margin: 120px auto 20px;
}

#left-detail,
#right-detail {
	flex: 1;
}

#left-detail {
	font-size: 52px;
	font-weight: 700;
}

.banner-benefits-container {
	display: flex;
	align-items: center;
	width: 80%;
	align-self: start;
	justify-content: space-between;
	margin: 12px 8px;
	/* margin: 12px auto; */
}

.banner-benefit {
	font-weight: 500;
	font-size: 12px;
	color: rgb(100, 100, 100);
}

.banner-benefit svg {
	width: 13px;
	fill: #00ffc0;
	margin-right: 8px;
}

#right-detail {
	display: flex;
	flex-direction: column;
}

#banner-img {
	align-self: flex-end;
	width: 400px;
}

#banner-search-container {
	display: flex;
	width: 68%;
	margin-top: 20px;
}

#banner-search-container input {
	flex: 1;
	font-size: 20px;
	border: 4px solid black;
	padding: 1.5em;
}

#banner-search-container button {
	flex-basis: 200px;
	font-size: 20px;
	color: white;
	border: none;
	border-top: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	text-transform: uppercase;
	outline: none;
	background-color: black;

	transition: all ease-in 150ms;
}

#banner-search-container button svg {
	margin-right: 8px;
}

#banner-search-container button:hover {
	background-color: #018161;
}

#banner-buttons-container {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 32px;
}

#own-prop {
	font-weight: 700;
	padding: 1em 1.8em;
	border: none;
	outline: none;
	border-radius: 28px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffd400;
}

#own-prop img,
#own-franchise img {
	height: 28px;
	margin-right: 8px;
}

#own-prop a,
#own-franchise a {
	font-weight: 400;
	margin-left: 8px;
	color: black;
}

.arrow-right {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 4px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#own-franchise {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border-radius: 28px;
	padding: 1em 1.8em;
	border: 2px solid rgb(200, 200, 200);
}

#banner-offers-container {
	margin-top: 50px;
	width: 96%;
	height: 100px;
	display: flex;
	align-items: center;
	margin: 50px auto;
}

.offer-card {
	border-radius: 8px;
	display: flex;
	padding: 8px;
	box-shadow: 0px 0px 4px 0px rgb(100, 100, 100);
	margin: 0px 8px;
}

#left-offer {
	padding-left: 4px;
}

#right-offer {
	padding-left: 16px;
}
#offer-img {
	height: 32px;
}

#offer-title {
	font-weight: 700;
	margin-bottom: 4px;
}
#offer-body {
	font-size: 16px;
}

.green {
	background-color: rgb(240, 255, 240);
	border-bottom: 8px solid green;
}

.orange {
	background-color: rgb(253, 236, 229);
	border-bottom: 8px solid orangered;
}

.blue {
	background-color: #eefdff;
	border-bottom: 8px solid #00d0e9;
}

@media (max-width: 768px) {
	#banner-container {
		height: max-content;
	}
	#banner-img,
	#right-detail {
		display: none;
	}

	.banner-benefits-container {
		flex-direction: column;
		align-items: flex-start;
	}

	#banner-offers-container {
		flex-direction: column;
		height: max-content;
	}
	.offer-card {
		margin-bottom: 16px;
	}

	#banner-search-container {
		width: 72%;
	}

	#banner-search-container button span {
		display: none;
	}

	#banner-search-container button svg {
		margin: 0;
	}

	#banner-buttons-container {
		width: 72%;
		flex-direction: column;
	}
	#own-prop,
	#own-franchise {
		width: 100%;
		margin-bottom: 16px;
	}
}
